<!-- <div class="form_conianer">
<form class="new-messages" action="/createTwitt" method="post">
    <textarea name="message" placeholder="TYPE YOUR TWITT HERE..."></textarea>
    <input type="submit" value="TWITT">
  </form>
</div> -->

<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="/createTweet" class="form" method="POST">
        <h2> New Twitt</h2>
    <textarea name="tweet"  class="form__input__text" placeholder="TYPE YOUR TWITT HERE..."></textarea>
    <input type="submit" value="Tweet" class="form__input__submit">
    </form>

    <br>
    <!-- <a href="/profile">Profile</a> -->
    <br>
    <a href="/home">Home</a>

</div>