<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="continer">

        <%- body %>
            <div>
                <div class="home_botom">

                    <a href="/home"> <img src="https://www.flaticon.com/svg/static/icons/svg/1946/1946488.svg" alt=""
                            srcset="">
                    </a>
                    <a href="/search"><img src="https://www.flaticon.com/svg/static/icons/svg/482/482631.svg" alt=""
                            srcset="">

                    </a> 
                   <a href="/createTweet"><img src="https://www.flaticon.com/svg/static/icons/svg/1250/1250616.svg" alt="" srcset="">
                   </a> 
                    <a href="/profile"> <img src="https://www.flaticon.com/svg/static/icons/svg/747/747376.svg" alt=""
                            srcset="">
                    </a>
                </div>
            </div>
    </div>

    <h2 class="h2">created by Yasir Al-Muhtrish</h2>
</body>

</html>