<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="/login" class="form" method="POST">
        <h2> Log in</h2>
    <input type="text" class="form__input__text" placeholder="your username" name="userName">
    
    <input type="password" class="form__input__text"  placeholder="your password" name="password">
  
    <!-- add the more input if you want  -->
    
    
    <input type="submit" value="Log In" class="form__input__submit">
    </form>
    <p>You dont have account ? </p> <br>
    <a href="/singnUp">sing up</a>
</div>