<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="/signUp" class="form" method="POST">
        <h2> Create Your account</h2>
    <input type="text" class="form__input__text" placeholder="your name"name="name">
    <input type="text" class="form__input__text" placeholder="your username"name="userName">
    <input type="password" class="form__input__text"  placeholder="your password" name="password">
    <input type="text" class="form__input__text" placeholder="your img link" name="image">
    <!-- add the more input  -->
    
    
    <input type="submit" value="Sing Up" class="form__input__submit">
    </form>


    <p>You alredy have account ? </p> <br>
    <a href="/login"> log in</a>
    
</div>